a:hover
    text-decoration-color: white !important

#navbar
    background-color: #E8ABAD
    padding-left: 50px
    padding-right: 50px

#drawer
    role: "presentation"
    background-color: #E8ABAD
    color: #45464a !important

.paper-drawer
    background-color: #E8ABAD !important

.imageTextAlign
    text-align: center

.option
    color: #45464a !important


.list-link-text
    color: white !important
    
.list-header
    margin-top: 15px
    font-family: 'Roboto', sans-serif
    color: white

    & > span
        font-size: 18px
        font-weight: bold
        
.heInput
    border-color: green !important